body {
  font-family: 'Lato', sans-serif;
}

.row {
  margin-bottom: 0px;
}

.page-title {
  margin-left: 5vw;
}

.expense-table {
  width: 75vw;
  margin-left: 6vw;
  margin-bottom: 15vh;
}

.expense-table-header {
  font-weight: bold;
}

.add-btn {
  margin-top: 7vh;
  margin-left: 2vw;
}

.add-expense-form {
  margin-left: 6vw;
  margin-bottom: 10vh;
}

.register-btn {
  margin-left: 6vw;
  margin-bottom: 5vh;
}

.add-expense-btn {
  margin-top: 5vh;
  margin-right: 1vw;
}

nav > div.nav-wrapper  {
  background-color: white;
  border-bottom: none;
}

div.nav-wrapper > a {
  padding-left: 5vw;
  color: black;
}

ul.right > li {
  padding-right: 2vw;
  color: black;
}

ul.right > li > a{
  color: black;
}

.logo {
  width: 30%;
  height: 25%;
  margin-top: 2vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.chartarea {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 10vh;
}

.chart-item{
  margin-bottom: 10vh;
}

.chart-item h5 {
  font-weight: bold;
}

.expense-header-section, .dashboard-header-section {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 4vh;
}

.expense-filter{
  margin-top: 10vh;
}

.card-panel {
  width: 35%;
}

#filter-input {
  width: 25vw;
  margin-left: 2vw;
  margin-top: 5vh;
}

.summary {
  display: flex;
  justify-content: flex-start;
  margin-left: 5vw;
  margin-bottom: 7vh;
}

.summary h5 {
  margin-right: 2vw;
}

.type-line {
  margin-left: 23vw;
}

.time-window-dropdown{
  width: 12vw !important;
  margin-top: 5vh !important;
  margin-left: 2vw !important;
}

.typewriter h5 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 8.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 80% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}
